<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <connectionStrings>
    <!--<add name="EXCEL_ERP_TESTEntities" connectionString="metadata=res://*/ERP.csdl|res://*/ERP.ssdl|res://*/ERP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-F60EPMSO\SQLEXPRESS;initial catalog=EXCEL_ERP_LIVE;user id=sa;password=1.download;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
       <add name="EXCEL_ERP_TESTEntities" connectionString="metadata=res://*/ERP.csdl|res://*/ERP.ssdl|res://*/ERP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.250;initial catalog=EXCEL_ERP_LIVE;user id=sa;password=ADMin@4321!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />  
     <!--    <add name="EXCEL_ERP_TESTEntities" connectionString="metadata=res://*/ERP.csdl|res://*/ERP.ssdl|res://*/ERP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PROJECT;initial catalog=EXCEL_ERP_LIVE;user id=sa;password=erp@2019;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />  -->
    <!--   <add name="EXCEL_ERP_TESTEntities" connectionString="metadata=res://*/ERP.csdl|res://*/ERP.ssdl|res://*/ERP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EXL-LPC49;initial catalog=EXCEL_ERP_LIVE;user id=sa;password=erp@2019;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <appSettings>  
    <add key="EMAIL_SERVER" value="smtpout.secureserver.net"/>  
    <add key="EMAIL_PORT" value="3535"/>  
    <add key="EMAIL_ENABLE_SSL" value="True"/>  
    <add key="ERP_DOCUMENTS_FOLDER" value="\\192.168.1.250\new_erp_app\EXCEL_ERP_DOCUMENTS\"/>
    <add key="ERP_DOCUMENTS_Payslip_FOLDER" value="\\192.168.1.250\new_erp_app\EXCEL_ERP_DOCUMENTS\Employee_Payslip\" />
    <add key="LOCAL_DATA_PATH" value="C:\EXCEL_ERP_NEW\ERP_LOCAL_DATA\"/>  
  </appSettings>  

</configuration>
